.body_header h1{
  margin-top: 4px;
  display: inline;
  list-style: none;
}

.navigation li {
  display: inline; /* Выровнять по горизонтали */
  list-style: none; /* Маркированный список: без маркировки */
  padding: 4px; /* Поля вокруг текста */
}


.section-contacts {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0;/* Левый нижний угол */
    padding: 13px; /* Поля вокруг текста */
    background: #39b54a; /* Цвет фона */
    color: #0c0c0c; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    list-style: square; /* Маркированный список: квадраты*/
  }

  .section-left {
    float: left;
    width: 200px; /* Ширина слоя */
    margin: 0 auto; /* Выравнивание по центру */
    background: #f0f0f0; /* Цвет фона левой колонки */
  }

  .section-top {
    float: right;
    margin-left: 130px; /* Отступ слева */
    padding: 10px; /* Поля вокруг текста */
    background: #646060; /* Цвет фона правой колонки */
  }